.container_12{
  padding-top: 20px;
}

.banner{
  background :#b9b992;
  position: relative;
  left:auto;
  padding-top: 40px;
  height:600px;
}

.banner h2{
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  color:#FFFFFF;
}

.banner p{
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color:#FFFFFF;
}

.hero{
  background: url("../img/heroA1.png") no-repeat;
  position: relative;
  left:300px;
  bottom:0;
  height:643px;
  width:754px;
}

.main{
  padding-top: 25px;
}

.grid_4 img{
  width:100%;
}

.grid_4 h2{
  padding-top:5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 8px 0;
  margin:0;
  font-weight: 600;
  color:#333;
}

.grid_4 h3{
  display:inline;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size:16px;
  font-weight:300;
  color:#444;
}

.grid_4 p{
  letter-spacing: 0.5px;
  padding: 8px 0;
}


header{
    overflow: hidden;
    position: relative;
    top: 20px;
    left:auto;
    right:auto;
}


header h1{
  background: url(../img/logo.png) no-repeat;
  text-indent: -9999px;
  width:192px;
  height:35px;
  float:left;
}

section{
  position: relative;
  top: 20px;
  display:block;
  background-color: #c3c3a2;
}

section h1{
  padding-left: 200px;
  font-family:monospace;
}

section h6{
  display:inline;
  padding-left: 200px;
  font-family:sans-serif;
}

section nav{
  padding-right: 200px;
}


a{
  text-decoration: none;
  font-family:inherit;
  color: rgb(128,128,128);
}

nav{
  float:right;
  text-align: right;
  font-family:sans-serif;
  font-weight: bold;
}

nav li{
  display:inline;
  list-style: none;
  color: #999;
}

footer,.container_12{
  clear:both;
}
